<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3cA4yWAeb6N7jjUUE8L2a8qMVRr2uE00</string>
	<key>GCM_SENDER_ID</key>
	<string>847898737291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendcompany.sendDelivery</string>
	<key>PROJECT_ID</key>
	<string>send-good</string>
	<key>STORAGE_BUCKET</key>
	<string>send-good.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847898737291:ios:3e5b40260f041f9483728e</string>
	<key>DATABASE_URL</key>
	<string>https://send-good-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>